<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>VIPER Module.</string>
	<key>Summary</key>
	<string>VIPER Module</string>
	<key>SortOrder</key>
	<string>39</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string></string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>New module Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___ViewController</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___Interactor</string>
			<key>Description</key>
			<string>The interactor name</string>
			<key>Identifier</key>
			<string>interactorName</string>
			<key>Name</key>
			<string>Interactor Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___Presenter</string>
			<key>Description</key>
			<string>The presenter name</string>
			<key>Identifier</key>
			<string>presenterName</string>
			<key>Name</key>
			<string>Presenter Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___Model</string>
			<key>Description</key>
			<string>The model file name</string>
			<key>Identifier</key>
			<string>modelFileName</string>
			<key>Name</key>
			<string>Model File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___Provider</string>
			<key>Description</key>
			<string>The provider file name</string>
			<key>Identifier</key>
			<string>providerFileName</string>
			<key>Name</key>
			<string>Provider File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___Handler</string>
			<key>Description</key>
			<string>The handler file name</string>
			<key>Identifier</key>
			<string>handlerName</string>
			<key>Name</key>
			<string>Handler File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___Interface</string>
			<key>Description</key>
			<string>The interface file name</string>
			<key>Identifier</key>
			<string>interfaceFileName</string>
			<key>Name</key>
			<string>Interface File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___OutPut</string>
			<key>Description</key>
			<string>The outPut file name</string>
			<key>Identifier</key>
			<string>outPutFileName</string>
			<key>Name</key>
			<string>OutPut File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DZ___VARIABLE_moduleName:identifier___WireFrame</string>
			<key>Description</key>
			<string>The wireFrame name</string>
			<key>Identifier</key>
			<string>wireFrameName</string>
			<key>Name</key>
			<string>wireFrame Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>UIViewController</string>
			<key>Description</key>
			<string>What viewController or view class to subclass for the new module</string>
			<key>FallbackHeader</key>
			<string>#import &lt;UIKit/UIKit.h&gt;</string>
			<key>Identifier</key>
			<string>viewControllerOrViewSubclass</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>UIViewController</string>
                <string>UIView</string>
				<string>UITableViewController</string>
				<string>UICollectionViewController</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
